* {
  box-sizing: border-box;
}

footer .social-icon{
    height: 10%;
    width: 10%;
}

body {
  margin: 0;
  font-size: 20px;
  max-width: 1280px;
  padding: 1em;
  margin: auto;
  background-color: #fdfdfd;
  font-family: sans-serif;
}

header {
  text-align: center;
}

#flex-head {
  display: flex;
  justify-content: center;
}

#search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-width: 300px;
}


.media-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.media-card__content > h3 {
  margin-top: 0;
}

@media screen and (min-width: 550px) {
  .media-card {
    flex-direction: row;
  }

  .media-card__image {
    flex: 0 1 250px;
  }

  .media-card__content {
    flex: 0 1 60ch;
  }
}


@media screen and (min-width: 400px) {
  header,
  main,
  footer {
    max-width: 800px;
    margin: 1rem auto;
    border: 2px solid white;
    padding: 1.5rem;
    background-color: palevioletred;
  }
}


@media screen and (max-width: 550px) {
  header,
  main,
  footer {
    max-width: 400px;
    margin: 1rem auto;
    border: 1px solid white;
    padding: 1rem;
    background-color: lightblue;
  }

  img {
    max-width: 80%; /* Adjust to avoid making it too small */
  }
}
