* {
  box-sizing: border-box;
  border-radius: 5%;
}

body {
  margin: 0;
  font-size: 20px;
  max-width: 1280px;
  padding: 1em;
  background-color: #fdfdfd;
  font-family: sans-serif;
}

header {
  text-align: center;
}

#flex-head {
  display: flex;
  justify-content: center;
}

#search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.media-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.media-card__content > h3 {
  margin-top: 0;
}

footer {
  display: flex;
}

footer .social {
  display: flex;
  gap: 1em;
  flex-shrink: 1;
}

  
header,
main,
footer {
  margin: 1rem auto;
  padding: 1.5rem;
  border: 2px solid white;
  background-color: palevioletred;
  max-width: 800px;
}

/* Responsive layout for media-card on wider screens */
@media screen and (min-width: 550px) {
  .media-card {
    flex-direction: row;
  }

  .media-card__image {
    flex: 0 1 250px;
  }

  .media-card__content {
    flex: 0 1 60ch;
  }

footer .social {
  display: flex;
  gap: 1rem;
  justify-content: right;
  align-items: right;
}

footer .social img {
  width: 30px;
  height: auto;
  transition: transform 0.2s ease;
}

footer .social img:hover {
  transform: scale(1.2); 
}

}


@media screen and (max-width: 550px) {
  header,
  main,
  footer {
    max-width: 400px;
    border: 1px solid white;
    padding: 1rem;
    background-color: lightblue;
  }

  footer .social {
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: right;
  }

  footer .social img {
    width: 30px;
    height: auto;
    transition: transform 0.2s ease;
  }

  footer .social img:hover {
    transform: scale(1.2); /* slightly zooms icon on hover */
  }

}
